@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lobster&family=Oswald:wght@300&family=Rubik+Dirt&family=Rubik+Distressed&display=swap');
.tablist{
   margin-left: 550px;
}
.our-product{
    margin-left: 470px;
    text-align: center;
    width: 570px;
    margin-top: 130px;
    font-family: 'Lobster', cursive;
    /* font-family: 'Rubik Dirt', cursive; */
}
.crdimg{
    position: absolute;
}
.crdstyle{
    border: none;
}
.btn{
    margin: 5px;
}


.crdbody{
    position: relative;
    /* margin-top: 50px; */
    opacity: 0;
    height: 270px;

    
}
.crdbody2{
    margin-top: 85px;
    height: 170px;
    position: relative;
    margin-bottom: 70px;
}
.crdbody:hover{
    opacity: 1;
    
}


@media (max-width:500px) {
    .tablist{
        margin-left: 0px;
     }
     .our-product{
        margin-left: 20px;
        text-align: center;
        width: 370px;
        margin-top: 130px;
    }
    
}
